= javascript_include_tag "jquery.ui.widget.js"
= javascript_include_tag "jquery.fileupload.js"
= javascript_include_tag "jquery.iframe-transport.js"
= javascript_include_tag "file_upload.js"
= javascript_include_tag "modernizr.js"
= stylesheet_link_tag "file_upload.css"

:css
  form.form-horizontal textarea.wysihtml5{height:400px; width:100%;}

= nested_form_for @deal, :html=>{:class=>"form-horizontal"} do |f|
  = form_errors(@deal)
  .row
    .span8

      %ul{ :class=>"nav nav-tabs", :id => "dealTab" }
        %li.active
          %a{:href => "#general"} General
        %li
          %a{:href => "#images"} Images
        %li
          %a{:href => "#description"} Description
        %li
          %a{:href => "#conditions"} Conditions

      .tab-content
        #general.tab-pane.active
          .control-group
            = f.label :title, :class=>"control-label"
            .controls= f.text_field :title
          .control-group
            = f.label :discount, :class=>"control-label"
            .controls.input-append{:style=>"margin-left:20px;"}
              = f.number_field :discount
              %span.add-on %
          .control-group
            = f.label :start_at, :class=>"control-label"
            .controls.input-append.date#date_from{:style=>"margin-left:20px;"}
              - start_at = f.object.start_at.blank? ? Time.now : f.object.start_at
              = f.text_field :start_at, :data=>{:format=>"yyyy-MM-dd hh:mm:ss"}, :value => datetime2str(start_at)
              %span.add-on
                %i.icon-calendar{"data-time-icon"=>"icon-time", "data-date-icon"=>"icon-calendar"}
          .control-group
            - end_at = f.object.end_at.blank? ? Time.now : f.object.end_at
            = f.label :end_at, :class=>"control-label"
            .controls.input-append.date#date_to{:style=>"margin-left:20px;"}
              = f.text_field :end_at, :data=>{:format=>"yyyy-MM-dd hh:mm:ss"}, :value => datetime2str(end_at)
              %span.add-on
                %i.icon-calendar{"data-time-icon"=>"icon-time", "data-date-icon"=>"icon-calendar"}

        #images.tab-pane
          .control-group
            =f.label :files, :class=>"control-label"
            .controls
              #filesArea
              #dropZone
                -unless @deal.images.blank?
                  =render "deal_attachments_fields"
              %span.btn.fileinput-button
                %span= 'Add file...'
                %input#inputFile{:type => 'file'}

        #description.tab-pane
          = f.text_area :description, :class=>:wysihtml5, :placeholder=>"Enter text"

        #conditions.tab-pane
          = f.fields_for :conditions do |builder|
            = render "conditions_fields", :condition => builder

          .control-group
            = f.link_to_add t(:add_condition), :conditions

  .form-actions
    %button.btn.btn-large{:type=>"submit"}=t(:save)
    =link_to t(:cancel), :back, :class=>"btn btn-large"


=render "javascript"